<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacto</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos\estilosproyecto.css">
</head>
<body>
  <div class="containerContacto">
    <header>
              <nav class="navbar navbar-expand-lg navbar-light bg-light margenNavBar">
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                      <a class="navbar-brand" href="index"><img class="navbar-brand" src="imagenes\LogoBaproClub.jpg"></abbr></a>
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="buscadorNavBar mr-sm-2" type="fotos/personas/grupos" placeholder="Persones / Amigues" aria-label="fotos/personas/grupos">
                        <button class="btn btn-outline-success my-2 my-sm-0 botonNavBar" type="submit">Buscar</button>
                      </form>
                </div>
            </nav>
    </header>

    <main>
       <div class="container-fuid">
          <div class="formulario-contact row">
              <div class="offset-md-2 col-md-8 contacto" style="padding-bottom:0px;">
                <h2 class="titulo-contacto">CONTACTATE CON NOSOTROS</h2>
				<div class="row">
	             	<div class="offset-sm-1 col-sm-10 texto-contacto">
	                	<p>Esta es una red social corporativa que busca la integración e interacción
	                	 del personal de las distintas áreas y sucursales. El fin es motivar las ideas creativas 
	                	 que fortalecen el trabajo en equipo compartiendo vivencias y experiencias.</p>
	                 	<p>Siempre estamos dispuestos a escuchar tus sugerencias y comentarios sobre nuestro servicio. 
	                 	Tu mensaje será manejado bajo la directa supervisión de nuestra gerencia ejecutiva.</p>
	                 	<p>Si querés contactarnos, hacé click en el botón y dejanos tu mensaje, te responderemos a la brevedad.</p>
	 				</div> 
	 			</div>            
              </div>
                 <div class="col-md-4 offset-md-4 formulario" style="margin-top:20px; margin-bottom:20px;">
                    
                        <a href="mailto:contacto@baproclub.com.ar">
                          <span type="button" style="width:100px;" class="btn btn-primary Contacto botonesGeneral btn-outline-success" id="enviar">Contactar</span>
                    	</a>
                    
                 </div>

              </div>
        </div>

    </main>

    <footer>
      <div class="row content divFooter ">
         <nav class="pie ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
             <ul class="navbar-nav " style="width: 100%; display:flex; justify-content:space-around;">
                 <li class="nav-item">
                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="index">Home</a>
                 </li>
                 <li class="nav-item active">
                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="MiMuro">Mi Muro</a>
                 </li>
                 <li class="nav-item">
                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="perfil">Perfil</a>
                 </li>
                 <li class="nav-item">
                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="faq">Preguntas Frecuentes</a>
                 </li>
                 <li class="nav-item">
                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="contacto">Contacto</a>
                 </li>
               </ul>
            </nav>
          </nav>
      </div>
  </footer>
    </div>
    <script src="js/contacto.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
