<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Preguntas Frecuentes</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos\estilosproyecto.css">
  </head>
  <body>
    <div class="container" >
          <header>
              <nav class="navbar navbar-expand-lg navbar-light bg-light margenNavBar footer">
                <div class="collapse navbar-collapse footer" id="navbarTogglerDemo01">
                      <a class="navbar-brand" href="index"><img class="navbar-brand" src="imagenes\LogoBaproClub.jpg"></abbr></a>
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="buscadorNavBar mr-sm-2" type="fotos/personas/grupos" placeholder="Persones / Amigues" aria-label="fotos/personas/grupos">
                        <button class="btn btn-outline-success my-2 my-sm-0 botonNavBar" type="submit">Buscar</button>
                      </form>
                </div>
            </nav>              
           </header>
      </div>

      <main class="faq container-fluid">
         <div class="row" id="fondo-faq">

               <div class="offset-md-1 col-md-3">
                   <div class="categorias">
                       <div>
                         <a href="#uso-aplicacion">Uso de la aplicación</a>
                       </div>
                       <div>
                         <a href="#adm-cuenta">Administración de la cuenta</a>
                       </div>
                       <div>
                         <a href="#seguridad">Seguridad</a>
                       </div>
                   </div>
                   <div class="signo">
                     <img src="imagenes/signo.png" alt="signo pregunta">
                   </div>
               </div>

               <div class="col-md-7 col-sm-12">

                   <div id="uso-aplicacion">
                       <h4>COMO APROVECHAR AL MAXIMO LA APLICACION</h4>
                       <div class="cuestionario">
                         <span class="viñeta">></span>
                         <span><strong>¿Cómo agrego una publicación?</strong></span>
                         <span class="elemento">Dentro del perfil personal hay un cuadro de redacción de la Publicación, ingresá el mensaje que quieras compartir. Luego hacé clic en Publicar.</span>
                       </div>
                       <div class="cuestionario">
                         <span class="viñeta">></span>
                         <span><strong>¿Cómo seguir a usuarios?</strong></span>
                         <span class="elemento">Una vez creada tu cuenta, podés buscar personas por su direccion de mail, o en el muro general. Una vez localizado el usuario, simplemente hacé click en "Seguir" y se agregará a tu lista de Amigos.</span>
                       </div>
                       <div class="cuestionario">
                         <span class="viñeta">></span>
                         <span><strong>¿Cómo envío comentarios?</strong></span>
                         <span class="elemento">Los comentarios se ingresan sobre las publicaciones de otros usuarios. En el cuadro de redacción del comentario ingresá el texto deseado y luego hacé clic en Comentar.</span>
                       </div>
                       <div class="cuestionario">
                         <span class="viñeta">></span>
                         <span><strong>¿Puedo agregar imágenes?</strong></span>
                         <span class="elemento">Al momento de registrarte vas a poder ingresar una imagen que será guardada como avatar personal. </span>
                       </div>
                   </div>
                   <div class="flecha">
                     <a href="#top"><img src="imagenes/flecha1.png" alt="">
                     <span>Volver arriba</span></a>
                   </div>
                   <hr>

                   <div id="adm-cuenta">
                   <h4>COMO CONFIGURAR MI CUENTA</h4>
                       <div class="cuestionario">
                         <span class="viñeta">></span>
                         <span><strong>¿Cómo creo un usuario?</strong></span>
                         <span class="elemento">Desde la página de Registro podés crear tu cuenta completando tus datos personales y agregando tu mail laboral. Una vez completo el formulario deberás presionar el boton Unite. Recordá no entregar a nadie tus datos de usuario y contraseña.</span>
                       </div>

                       <div class="cuestionario">
                         <span class="viñeta">></span>
                         <span><strong>¿Olvidaste la contraseña?</strong></span>
                         <span class="elemento">Desde la página de inicio, hacé click en el botón <i>Olvidaste tu contraseña?</i>. Se abrirá una pantalla donde podrás ingresar una nueva contraseña y hacé click en Aceptar.</span>
                       </div>
                       
                       <div class="cuestionario">
                         <span class="viñeta">></span>
                         <span><strong>¿Cómo desactivo la cuenta?</strong></span>
                         <span class="elemento">Ingresá desde la página de inicio con tu usuario y contraseña, una vez en tu perfil podrás desactivar tu cuenta y ésta quedará desahibilitada en el momento.</span>
                       </div>

                    </div>
                    <div class="flecha">
                      <a href="#top"><img src="imagenes/flecha1.png" alt="">
                      <span>Volver arriba</span></a>
                    </div>
                    <hr>

                    <div id="seguridad">
                    <h4>CONFIGURACION DE SEGURIDAD</h4>
                        <div class="cuestionario">
                          <span class="viñeta">></span>
                          <span><strong>¿Cómo gestiono la seguridad de la cuenta?</strong></span>
                          <span class="elemento">Recordá que tus datos de usuario y contraseña son únicos e intransferibles. El usuario es responsable por sus datos de ingreso.</span>
                        </div>

                        <div class="cuestionario">
                          <span class="viñeta">></span>
                          <span><strong>¿Qué es el contenido sensible?</strong></span>
                          <span class="elemento">No puedes publicar contenido que sea excesivamente truculento ni compartir contenido violento o no apto para menores. De acuerdo con esta política, también hay algunos tipos de contenido de carácter delicado que no permitimos en ningún caso, debido a que podrían suponer una normalización de la violencia y provocar sufrimiento a quienes los ven. Agrupamos el contenido de carácter delicado en las siguientes categorías: Violencia gráfica, Contenido no apto para menores de edad, Conducta sexual, Escenas sangrientas, Imágenes de incitación al odio.</span>
                        </div>
                        <div class="cuestionario">
                          <span class="viñeta">></span>
                          <span><strong>¿Cómo dejo de seguir a un usuario?</strong></span>
                          <span class="elemento">
                            Para dejar de seguir a un usuario simplemente haz click en el nombre del usuario en el Muro y ese usuario deparecerá de tu lista de Amigos.
                              
                          </span>
                        </div>
                     </div>
                     <div class="flecha">
                       <a href="#top"><img src="imagenes/flecha1.png" alt="">
                       <span>Volver arriba</span></a>
                     </div>
                <div class="col-md-2">

                </div>
              </div>
            </div>

           </main>

           <footer>
            <div class="row content ">                 
               <nav class="pie ">
                  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                   <ul class="navbar-nav " style="width: 100%; display:flex; justify-content:space-around;">
	                 <li class="nav-item">
	                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="index">Home</a>
	                 </li>
	                 <li class="nav-item active">
	                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="MiMuro">Mi Muro</a>
	                 </li>
	                 <li class="nav-item">
	                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="perfil">Perfil</a>
	                 </li>
	                 <li class="nav-item">
	                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="faq">Preguntas Frecuentes</a>
	                 </li>
	                 <li class="nav-item">
	                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="contacto">Contacto</a>
	                 </li>
	               </ul>
                  </nav>
                </nav>                    
            </div>
        </footer>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
