<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos\estilosproyecto.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
</head>
<body class="bodyPerfil">
        <nav class="navbar navbar-expand-lg navbar-light bg-light margenNavBar">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                  <a class="navbar-brand" href="MiMuro"><img class="navbar-brand" src="imagenes\LogoBaproClub.jpg"></abbr></a>
                
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  
                   </ul>
                  <form class="form-inline my-2 my-lg-0" method="post" action="buscamiamigo">
                    <input class="buscadorNavBar mr-sm-2" type="fotos/personas/grupos" placeholder="Busca amigues por el E-mail" name="email" aria-label="fotos/personas/grupos">
                    <input type="submit" value="Buscar" class="btn btn-outline-success my-2 my-sm-0 botonNavBar"/>
                  </form>
            </div>
        </nav>
        	
		<div style="display:flex; justify-content:flex-end;">
			<form action="cerrarSesion" method="post">
				<button class="botonesGeneral">Cerrar Sesion</button>
			</form>
		</div>
			

    <header class="headerDePerfil">
        <img th:src="${usuario.urlFotoPortada}" class="imagenDePortada" alt="">
    </header>
    <br>
    <br>
    <br>
    <div class="divDeImagenDePerfil"><img  th:src="${usuario.urlFotoPerfil != null}? @{${usuario.urlFotoPerfil}}:@{/subidasUsuarios/estrellaDefault.jpg}" class="imagenDePerfilNueva" alt=""></div>
    <p class="datosPersonales" style=font-size:40px  th:text="${usuario.nombre + ' ' + usuario.apellido}" id=usuarioNombre> Maria Carolina <br> </p>
    <p class="bio" style=font-size:30px  th:text="${usuario.resenia}">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

    <main class="mainPerfilNuevo"> 
    
   <div class="col-sm-12 " >
			
				<form method="post" action="subirPublicacion"  enctype="multipart/form-data">
					<textarea name="texto" rows="1" cols="8"  placeholder="Escribi una publicacion" style="background-color: whitesmoke!important; border: #9AC00F 1px solid; margin-top:10px;"></textarea>
					<br>         
  		 			 <input  class=" input-registro" type="file"  step=1  id="archivosubido " name="archivosubido"><br>
					<button type="submit" class="btn btn-outline-success">Publicar</button>			
				</form>
				<br>
			</div>	 

<div  th:each = "publicacion: ${publicaciones}" class="posteosPerfilNuevo">
<span style=font-size:18px  th:text = "${publicacion.texto}"></span>
  <img class="posteosDePerfil"  th:src="${publicacion.imagenDePosteo != null}? @{${publicacion.imagenDePosteo}}:@{/subidasUsuarios/estrellaDefault.jpg}" alt=""> 
  
  
  </div>
  
<br>
<br>
<br>
  
 
  
  </main>



<footer>
  <div class="row content ">                 
     <nav class="pie ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
	         <ul class="navbar-nav " style="width: 100%; display:flex; justify-content:space-around;">
                 <li class="nav-item">
                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="index">Home</a>
                 </li>
                 <li class="nav-item active">
                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="MiMuro">Mi Muro</a>
                 </li>
                 
                 
                 
                 <form  action="eliminarUsuario" method="post" >
               	  <button class="nav-link footerYBarraSupGeneral hoverOrange eliminarUsuario"  style="border:none" type="submit">Borrar mi Perfil</button>                 	
                  </form>
                 
                 
                 
                 <li class="nav-item">
                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="faq">Preguntas Frecuentes</a>
                 </li>
                 <li class="nav-item">
                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="contacto">Contacto</a>
                 </li>
            </ul>
        </nav>
      </nav>                    
  </div>
</footer>
<script src="js/nuevoPerfil.js"></script>    
</body>
</html>