<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recupero de contraseña</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos\estilosproyecto.css">
</head>
<body>
  
    <header>
              <nav class="navbar navbar-expand-lg navbar-light bg-light margenNavBar">
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                      <a class="navbar-brand" href="index"><img class="navbar-brand" src="imagenes\LogoBaproClub.jpg"></abbr></a>
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="buscadorNavBar mr-sm-2" type="fotos/personas/grupos" placeholder="Persones / Amigues" aria-label="fotos/personas/grupos">
                        <button class="btn btn-outline-success my-2 my-sm-0 botonNavBar" type="submit">Buscar</button>
                      </form>
                </div>
            </nav>
    </header>

    <main>
    	<div class="container-fuid">
         	<div class="formulario-contact row">
              	<div class="offset-md-2 col-md-8 contacto" style="margin-top:20px;">
                	<h2 class="titulo-contacto">Ingresa tu email y la nueva contraseña:</h2>
						
	             			<div class="offset-sm-1 col-sm-10 texto-contacto" style="margin-top:20px;">
	                	
			                	<form class="row" method="post" action="olvidoPassword" th:object="${usuario}" enctype="multipart/form-data" >
					            	<p  class="col-md-2 ">Email</p>
					            	<p class="col-md-10">
					             	<input class=" input-registro inputNombre"  type="text" name="email" id="email" placeholder="Ingrese su email aquí...">
					           		</p>
					            	<p class="col-md-2">Contraseña</p>
					            	<p class="col-md-10">
					              	<input class="input-registro inputApellido" type="password" name="contrasenia" id="contrasenia" placeholder="Ingresa tu nueva contraseña aquí...">
					            	</p>           
			            			<div class="formulario col-sm-12" style="margin-top:20px; margin-bottom:20px;">
			            				<button class="btn btn-primary botonesGeneral btn-outline-success" type="reset">Borrar contenido</button>
					              		<button class="btn btn-primary botonesGeneral btn-outline-success" type="submit">Guardar</button>
			            			</div>
			            		</form>
	                		
	 						</div>            
              	</div>
            </div>
        </div>
    	
      

    </main>

    <footer style="margin-top:30px;">
      <div class="row content divFooter ">
         <nav class="pie ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
             <ul class="navbar-nav " style="width: 100%; display:flex; justify-content:space-around;">
                 <li class="nav-item">
                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="index">Home</a>
                 </li>
             
                 <li class="nav-item">
                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="faq">Preguntas Frecuentes</a>
                 </li>
                 <li class="nav-item">
                 <a class="nav-link footerYBarraSupGeneral hoverOrange" href="contacto">Contacto</a>
                 </li>
               </ul>
            </nav>
          </nav>
      </div>
  </footer>
   
    <script src="js/contacto.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
